<%- include('header') %>
<ul class="messages-list">
  <% messages.forEach(message => { %>
  <li class="message-list-item">
    <p class="message-text"><%= message.text %></p>
    <div class="message-meta">
      <p class="message-user">- <%= message.user %></p>
      <p class="message-date"><%= message.added %></p>
    </div>
    <button class="btn open-message-btn">Open</button>
  </li>
  <% }); %>
</ul>
<%- include('footer') %>
