<%- include('header') %>
<div class="message-item">
  <p class="message-text"><%= message.text %></p>
  <div class="message-meta">
    <p class="message-user">- <%= message.user %></p>
    <p class="message-date"><%= message.time %></p>
  </div>
</div>
<%- include('footer') %>
